.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
header {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.logo {
  width: 30%;
}
.logo img {
  width: 120px;
  height: 95px;
}
nav {
  width: 60%;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-nav li {
  font-size: 20px;
  color: #707070;
}

.search img {
  width: 25px;
  height: 25px;
}
section {
  width: 85%;
  margin: 50px auto;
}
.poster img {
  width: 100%;
}
.theme-title {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
}
h2 {
  font-size: 40px;
  color: #707070;
  font-weight: thin;
}
.content {
  margin: 70px auto 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 90px;
  padding-bottom: 70px;
}
.box {
  max-width: 480px;
  width: 100%;
  height: 560px;
  box-shadow: 3px 3px #ededed;
  border: 1px solid #ededed;
}
.box img {
  max-width: 480px;
  width: 100%;
  height: 280px;
}
h3 {
  padding-top: 20px;
  font-size: 30px;
  padding-left: 12px;
  padding-right: 12px;
  color: #707070;
  font-weight: thin;
}
.box p {
  max-width: 480px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 70px;
  padding-left: 12px;
  font-size: 18px;
  color: #707070;
}
.more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
}
.more-btn {
  font-size: 24px;
  color: #707070;
  font-weight: thin;
}
.load-more {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 55px auto;
}
.load-more-btn {
  font-size: 30px;
  position: relative;
  color: #707070;
}
.load-more-btn::after {
  content: "";
  display: block;
  width: 125px;
  height: 1px;
  background: #949494;
  position: absolute;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #2e2e2e;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.footer-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 207px;
}
.footer-container .logo {
  width: 25%;
}
.media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  width: 25%;
}
.address {
  width: 20%;
}
.contact {
  width: 20%;
}
h6 {
  font-size: 20px;
  padding-bottom: 3px;
}
.number {
  padding: 2px 0;
}
@media (max-width: 480px) {
  .header-nav {
    display: none;
  }
  .footer-container .logo {
    display: none;
  }
  .footer-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
  }
  .media {
    width: 45px;
    height: 17px;
  }
  .address {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
  .contact p {
    display: flex;
    justify-content: center;
  }
  .address p {
    display: flex;
    justify-content: center;
  }
  h6 {
    display: flex;
    justify-content: center;
  }
}
